<!DOCTYPE html>
<html>
<head>
  <title>Book List | Books</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h2><p th:text="${greeting}"></p></h2>
  <table>
    <thead>
      <tr>
        <th>Book Id</th>
        <th>Book Name</th>
        <th>Book Author</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
